Flask==0.9
gunicorn==0.13.4
rq==0.3.4
sendgrid-python
Flask-PyMongo==0.1.2
pymongo==2.1.1
newrelic==1.5.0.103
requests==0.14.2
raven==3.1.17
blinker==1.2
behave==1.2.2
psycopg2==2.4.6
mock==1.0b1
iso8601==0.1.4
tokenlib==0.2.0
facebook-sdk==0.4.0
git+https://RaghavRamesh@bitbucket.org/billpin/web.git

